
/*VARIABLES*/









/*MIXINS*/








/*style imports*/

@import "./globals";
@import "../components/login/loginPage.style";
@import "../components/headerComponent/header.component";
@import "../components/headerOptionsComponent/headerOption";
@import "../components/sideBar/sidebar.style";
@import "../components/feed/feed.style";
@import "../components/inputOption/inputOption.style";
@import "../components/postsComponent/posts.style";
@import "../components/widgetComponent/widget.style";


.app{
     background-color: #f3f2ef;
     display:flex;
     flex-direction: column;
     align-items: center;
}

.appBody{

    display: flex;
    background-color: #f3f2ef;
    max-width: 1200px;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
}