/*VARIABLES*/
/*MIXINS*/
/*style imports*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  z-index: 999;
}

.headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerLeft img {
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

.headerSearch {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  height: 35px;
  color: gray;
  background: #eef3f8;
}

.headerSearch input {
  outline: none;
  border: none;
  background: none;
  width: 250px;
}

.headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  cursor: pointer;
}

.headerOption:hover {
  color: black;
}

.headerOptionTitle {
  font-size: 12px;
  font-weight: 400px;
}

.headerOptionIcon {
  -o-object-fit: contain;
     object-fit: contain;
  height: 25px;
  height: 25px !important;
  width: 25px !important;
}

.sideBarSection {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sideBarTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sideBarTop h4 {
  font-size: 12px;
  color: gray;
}

.sideBarTop h2 {
  font-size: 18px;
}

.sideBarTop > img {
  margin: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.sideBarStats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sideBarAvatar {
  margin-bottom: 10px;
  margin: auto;
}

.sidebarStatsBlock {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebarStatsBlock p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}

.sideBarStatsNumb {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sideBarBottom {
  text-align: left;
  padding: 10px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.app {
  background-color: #f3f2ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=app.css.map */