

.headerSection{

    display: flex;
    justify-content: space-evenly;

    background-color: white;

    position: sticky;
    top: 0;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    z-index: 999;
   

}

.headerLeft {

    display: flex;
    

    img{

        height: 35px;
        object-fit: contain;
        margin-right: 10px;
    }
  

}

.headerSearch{
    
    padding: 5px;
    display: flex;
    align-items: center;

    border-radius: 5px;
    height: 35px;
    color: gray;
    background: #eef3f8;

    input{

        outline: none;
        border: none;
        background: none;
        width: 250px;
    }
   
}

.headerRight{
    display: flex;
   
}